<?xml version="1.0" encoding="UTF-8"?>
<!--
  Run from the site root inside ddev with Drupal's environment:
    DRUPAL_ROOT=/var/www/html/docroot SIMPLETEST_BASE_URL=... SIMPLETEST_DB=... \
      vendor/bin/phpunit -c docroot/modules/custom/dkan_catalog_ui
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="../../../core/tests/bootstrap.php"
         colors="true"
         failOnRisky="true">
  <testsuites>
    <testsuite name="unit">
      <directory>tests/src/Unit</directory>
      <directory>modules/*/tests/src/Unit</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>tests/src/Kernel</directory>
      <directory>modules/*/tests/src/Kernel</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>tests/src/Functional</directory>
      <directory>modules/*/tests/src/Functional</directory>
    </testsuite>
  </testsuites>
</phpunit>
